/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@font-face {
    font-family: 'Ubuntu-Bold'; 
    src: url(Ubuntu-B.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Ubuntu'; 
    src: url(Ubuntu-B.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Ubuntu'; 
    src: url(Ubuntu-R.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Ubuntu'; 
    src: url(Ubuntu-L.ttf);
    font-weight: light;
}
@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
@-ms-keyframes spin { 
	from { 
		-ms-transform: rotate(0deg); 
	} to { 
		-ms-transform: rotate(360deg); 
	}
}
@-moz-keyframes spin { 
	from { 
		-moz-transform: rotate(0deg); 
	} to { 
		-moz-transform: rotate(360deg); 
	}
}
@-webkit-keyframes spin { 
	from { 
		-webkit-transform: rotate(0deg); 
	} to { 
		-webkit-transform: rotate(360deg); 
	}
}
@keyframes spin { 
	from { 
		transform: rotate(0deg); 
	} to { 
		transform: rotate(360deg); 
	}
}
.pulse-btn{
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	-webkit-animation-name: pulse;
    animation-name: pulse;
    animation-iteration-count: infinite; 
	-webkit-animation-iteration-count: infinite; 
}
.shown{
	display: block !important;
}
html{
	height: 100% !important;
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
body{ 
	font-family: 'Ubuntu' !important;
	/*font-weight: normal !important;*/
	height: 100% !important; 
	width: 100%;
	margin: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}
.fullHEIGHT{
	height: 100% !important;
}
#choose-lang > h1{
	margin-top: 60px !important;
	padding-top: 0px !important;
}
.background {
    z-index: -1;
    position: fixed;
    top: 0px;
    left: 0;
	width: 100%;
	height: 100%;
}
.nav-circle, .nav-circle-word{
	text-align: center;
	color: white;
	position: relative;
}
.nav-circle p, .nav-circle-word p, #nav-words-container-thd p{
	display: inline-block;
    margin-top: 0px;
    height: 80px;
    width: 65px;
    padding: 15px 0;
    background-repeat: no-repeat;
	cursor: pointer;    
	background-size: contain;
    margin-left: 1px;
    margin-bottom: 0;
    font-size: 30px;
	position: relative;
}
.nav-circle p span, .nav-circle-word  p span, #nav-words-container-thd p span{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
    width: 100%;
    line-height: 90px;
}
.nav-circle p img, .nav-circle-word  p img, #nav-words-container-thd p img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	box-shadow: 0px 38px 25px -30px rgba(0, 0, 0, 0.2);
}
.nav-circle p .activ-img, .nav-circle-word  p .activ-img, #nav-words-container-thd p .activ-img{
	display: none;
}
.nav-circle .activ .activ-img, .nav-circle-word  .activ .activ-img, #nav-words-container-thd .activ .activ-img{
	display: inline;
}
.nav-circle-word  .pulse .activ-img, #nav-words-container-thd .pulse .activ-img{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	-webkit-animation-name: pulse;
    animation-name: pulse;
    animation-iteration-count: infinite; 
	-webkit-animation-iteration-count: infinite; 
}
.nav-circle .activ, .nav-circle-word .activ, #nav-words-container-thd .activ{
	width: 80px;
    padding: 20px 0;
	margin-left: -15px;
	margin-right: -15px;
	z-index: 10;
    position: relative;
    top: 5px;
}
.text{
	width: 90%;
	margin: 15px auto;
	border-radius: 25px;
	text-align: center;
	padding: 10px 0;
	font-size: 20px;
	cursor: pointer;
	position: relative;  
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.82) 2%, rgba(255,255,255,0) 40%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.82) 2%,rgba(255,255,255,0) 40%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.82) 2%,rgba(255,255,255,0) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    color: white !important;
	border-bottom: 1px solid white;
}
.text:hover{
	border: 1px solid white;
}
.text-reverse{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+98,ffffff+100&0+89,1+100 */
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 60%, rgba(255,255,255,0.82) 98%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 60%,rgba(255,255,255,0.82) 98%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 60%,rgba(255,255,255,0.82) 98%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border-top: 1px solid white;
	font-size: 30px !important;
}
.startLearn{
	position: fixed;
    bottom: -20px;
    width: 100%;
	padding: 25px 0;
	color: black !important;
	font-weight: bold;
	background: rgba(210,255,82,1);
	background: -moz-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
	background: -webkit-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: -o-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: -ms-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: linear-gradient(to bottom, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=0 );
}

.startLearn:hover{
	background: rgba(145,232,66,1);
	background: -moz-linear-gradient(top, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(145,232,66,1)), color-stop(100%, rgba(210,255,82,1)));
	background: -webkit-linear-gradient(top, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
	background: -o-linear-gradient(top, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
	background: -ms-linear-gradient(top, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
	background: linear-gradient(to bottom, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91e842', endColorstr='#d2ff52', GradientType=0 );
}
.confirm-swipe .text{
	padding: 20px 0;
	margin: -2px auto;
	display: block;
}
#langs div h1, #choose-cat div h1, #list-of-word h2{
	color: black;
	padding: 30px 0;
}
#choose-cat, #list-of-word{
	display: none;
}
#list-of-word h2{
	margin-top: 50px;
}
#list-of-word{
	padding-bottom: 100px;
}
.word table{
	width: 100%;
}
.word table img{
	height: 50px;
}
.word table td:first-of-type{
	width: 85%;
}
.word table .text{
	margin: 0;
}
.word table {
	margin-top: 30px;
}
.word .nocheck .text{
	background: red;
	color: white;
}
.back{
	height: 45px;
    position: absolute;
    top: 20px;
    left: 20px;
	display: none;
	z-index: 5;
}
#info-box{
	text-align: center;
	font-size: 20px;
	color: white;
	padding-top: 50px;
	display: none;
}
.list-of-lang, .list-of-subcat{    
	width: 70%;
    margin-left: 25%;
	display: none;
}
h1{
	text-align: center;
	color: white;
	font-size: 28px;
	margin-top: 0px;
	padding-top: 25px;
}
h2{
	width: 80%;
	margin: 40px 0;
	background-color: rgba(255, 255, 255, 0.59);
	text-align: center;
	padding: 20px 0;
	font-size: 20px;
	cursor: pointer;
}
section{
	vertical-align: middle;
}
#choose-your-l{
	display: block;
}
#sub-categories input{
	-webkit-transform: scale(3,3);
    float: left;
    position: relative;
    left: 20px;
    top: 3px;
}
.info-box{
	text-align: center;
	color: white;
	margin-top: 13px;
	font-size: 20px;
}
#learn-container{
	display: none;
	height: 100%;
	overflow-x: hidden;
}
#wrap-ok-no, #tut-wrap-ok-no, #start-day-wrap-ok-no, #start-day-wrap-ok-no-end-course, #end-day-wrap-ok-no, #new-cat-wrap-ok-no{
	position: relative;
	text-align: center;
}
#learn-container .good-bad{   
    width: 35%;
}
#learn-container .bad-bad{
	height: 30px;
	/*width: 16%;
	position: absolute;
	bottom: 83px;
	right: 9%;*/
}
#learn img, #choose-words img{
	width: 90px;
}
#learn table, #choose-words table{
	width: 50%;
    margin: 100px auto;
    text-align: center;
}
#words-list input{
	-webkit-transform: scale(3,3);
    position: relative;
    left: 20px;
    top: 3px;
}
#words-list table{
	width: 100%;
}
#nav-words-container{
    white-space: nowrap;
    /*width: 100px;*/
    overflow: overlay;
    position: relative;
	margin:0;
	padding: 0;
	max-width: 410px;
	margin: auto auto;
}
.nav-circle-word td{
	max-width: 33% !important;
}
.nav-circle-word table{
	width: 100%;
}
.count-word{
	text-align: center;
}
.count-word-icon{
    margin-top: 0;
	margin-right:5px;
	display: inline-block;
    border-radius: 50%;
    border: 20px green solid;
    background: green;
    width: 20px;
    text-align: center;
    font-size: 20px;
    color: white;
	vertical-align: top;
}
.active-word-icon{
	border: 20px red solid;
    background: red;
}
h3{
	text-align: center;
	color: white;
	font-size: 28px;
	margin-top: 0;
	margin-bottom: 0;/*-250px;*/
	/*position: absolute;*/
    width: 100%;
	top: 0px;
	font-weight: bold;
	font-weight: 600;
	padding-top: 55px;
}
.count-word img{
	height: 70px;
}
#word-lern-1 #word-lern-6 #word-lern-2, #word-lern-3, #word-lern-4, #word-lern-5{
	text-align: center;
}
#word-lern-1 textarea, #word-lern-6 textarea, #word-lern-2 textarea, #word-lern-3 textarea, #word-lern-4 textarea, #word-lern-5 textarea{
	resize: none;
	font-size: 25px;
	font-family: 'Ubuntu';
	/*height: 38px;*/
	border: 0;
}
textarea:focus, textarea:hover, textarea:active{
	border: 0 !important;
	box-shadow: unset !important;
	outline: 0px none !important;
}
.yes{
	background-color: #8BC34A;
	color: white;
}
.no{
	background-color: #F44336;
	color: white;
}
#sub-categories div{
	width: 90%;
	margin: auto auto;
}
#sub-categories .text{
	display: inline-block;
	width: 90%;
}
#sub-categories img{
	margin-left: 5px;
    height: 20px;
    position: relative;
    top: 5px;
}
.confirm-swipe{
	color: white;
    font-size: 28px;
    text-align: center;
	display: none;
	
	/*transition: 0.8s;
	transform-origin: 100% 40%; /* half of height */
	/*-webkit-transition: 0.8s;
	-webkit-transform-origin: 100% 40%; /* half of height */
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}
.tut-method{
	position: relative;
	transition: 0.8s;
	transform-origin: 100% 40%; /* half of height */
	-webkit-transition: 0.8s;
	-webkit-transform-origin: 100% 40%; /* half of height */
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	transition: all 0.8s ease;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
   left: 0;
}
.confirm-swipe table{
	width: 90%;
	margin-left: 5%;
	position: relative;
	transition: 0.8s;
	transform-origin: 100% 40%; /* half of height */
	-webkit-transition: 0.8s;
	-webkit-transform-origin: 100% 40%; /* half of height */
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	transition: all 0.8s ease;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
   /* padding-bottom: 60%;/*150px;*/
  /* padding-top: 5%;/*380px;*/
   /* margin-top: 10%;*/
    left: 0;
	margin-right: 5%;
	display: table;
 
   /* background: rgba(47, 72, 87, 0.5);
	box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2), 0 24px 80px 0 rgba(0, 0, 0, 0.19);*/
	
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.82) 1%, rgba(255,255,255,0) 8%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.82) 1%,rgba(255,255,255,0) 8%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.82) 1%,rgba(255,255,255,0) 8%);
	color: white !important;
	border-bottom: 1px solid white;
	border-radius: 25px;
	border-top: 1px solid white;
	top: 70px;
}
#word-lern-6{
	position: relative;
}
#word-lern-1 table, #word-lern-6 table{
/*	padding-top: 10%;
    padding-bottom: 25%;*/
}
#word-lern-6 .no-margin:first-of-type{
	position: absolute;
	top: 0;
	width: 100%;
}
#word-lern-6 .no-margin:last-of-type{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.good{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,2edd1a+40&0.38+0,0.98+95,0+96 */
	background: -moz-linear-gradient(left,  rgba(180,221,180,0.38) 0%, rgba(46,221,26,0.63) 40%, rgba(46,221,26,0.98) 95%, rgba(46,221,26,0) 96%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(180,221,180,0.38) 0%,rgba(46,221,26,0.63) 40%,rgba(46,221,26,0.98) 95%,rgba(46,221,26,0) 96%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(180,221,180,0.38) 0%,rgba(46,221,26,0.63) 40%,rgba(46,221,26,0.98) 95%,rgba(46,221,26,0) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b4ddb4', endColorstr='#002edd1a',GradientType=1 ); /* IE6-9 */
}
.good-right{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2edd1a+60,b4ddb4+100&0+4,0.98+5,0.38+100 */
	background: -moz-linear-gradient(left,  rgba(46,221,26,0) 4%, rgba(46,221,26,0.98) 5%, rgba(46,221,26,0.63) 60%, rgba(180,221,180,0.38) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(46,221,26,0) 4%,rgba(46,221,26,0.98) 5%,rgba(46,221,26,0.63) 60%,rgba(180,221,180,0.38) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(46,221,26,0) 4%,rgba(46,221,26,0.98) 5%,rgba(46,221,26,0.63) 60%,rgba(180,221,180,0.38) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002edd1a', endColorstr='#61b4ddb4',GradientType=1 ); /* IE6-9 */
}
.bad{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,f21d1d+40&0.38+0,0.98+95,0+96 */
	background: -moz-linear-gradient(left,  rgba(180,221,180,0.38) 0%, rgba(242,29,29,0.63) 40%, rgba(242,29,29,0.98) 95%, rgba(242,29,29,0) 96%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(180,221,180,0.38) 0%,rgba(242,29,29,0.63) 40%,rgba(242,29,29,0.98) 95%,rgba(242,29,29,0) 96%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(180,221,180,0.38) 0%,rgba(242,29,29,0.63) 40%,rgba(242,29,29,0.98) 95%,rgba(242,29,29,0) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b4ddb4', endColorstr='#00f21d1d',GradientType=1 ); /* IE6-9 */
}
.bad-right{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f21d1d+60,b4ddb4+100&0+4,0.98+5,0.38+100 */
	background: -moz-linear-gradient(left,  rgba(242,29,29,0) 4%, rgba(242,29,29,0.98) 5%, rgba(242,29,29,0.63) 60%, rgba(180,221,180,0.38) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(242,29,29,0) 4%,rgba(242,29,29,0.98) 5%,rgba(242,29,29,0.63) 60%,rgba(180,221,180,0.38) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(242,29,29,0) 4%,rgba(242,29,29,0.98) 5%,rgba(242,29,29,0.63) 60%,rgba(180,221,180,0.38) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f21d1d', endColorstr='#61b4ddb4',GradientType=1 ); /* IE6-9 */
}
.hidden{
	display: none;
}
.learnMethod button{
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	color: #1366b2;
	font-size: 12px;
	background: #FFF;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	margin-top: -26px;
	margin-bottom: -40px;
	font-weight: bold;
	font-weight: 600;
}
.learnMethod .text{
	min-height: 100px;
	background: 0;
	border: 0;
	font-size: 25px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-container{
	position: relative;
	font-size: 12px;
	font-weight: bold;
}
.left-btn{
	position: absolute;
	top: 10px;
	left: 2%;
	z-index: 10;
}
.right-btn{
	position: absolute;
	top: 10px;
	right: 2%;
	z-index: 10;
}
.no-margin{
	margin: 0;
}
#words-nav{
	height: 20%;
}
#nav-words-container-thd{
	position: absolute;
	top: 10px;
	left: 20px;
	z-index: 0;
}
#nav-words-container-thd p{
	display: block;
}
#nav-words-container-thd p{
    height: 40px;
    width: 40px;
    padding: 0;
    margin-left: 0;
	margin: 5px auto;
}
#nav-words-container-thd p span{
    line-height: 45px;
}
#nav-words-container-thd .activ{
	width: 60px;
    padding: 0 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 40px;
}
#nav-words-container-thd #nav-th-1, #nav-words-container-thd  #nav-th-2, #nav-words-container-thd  #nav-th-3{
	display: none;
}
#learn-panel{
	position: relative;
	height: 75%;
	display:table;
	width: 100%;
	/*perspective: 1000px;*/
}
.learnMethod{
	display: block;
	/*vertical-align:middle;*/
	position: relative;
	top: 0%;/*-50px;*/
}
#ok-no-panel, #tut-ok-no-panel, #start-day-ok-no-panel, #start-day-ok-no-panel-end-course, #end-day-ok-no-panel, #new-cat-ok-no-panel{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;  
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
} 
#tut-ok-no-panel, #start-day-ok-no-panel, #start-day-ok-no-panel-end-course, #end-day-ok-no-panel, #new-cat-ok-no-panel{
	padding-bottom: 20px !important;    
}
#tut-ok-no-panel{
	padding-bottom: 0px !important;    
}
#nrDay{
	font-size: 50px;
	position: absolute;
	top: 5px;
	right: 5px;
}
#badBTN{
	display: none;
}
.list-of-subcat{ /*DO USUNIĘCIA!!!!*/
	display: block;
}	
.flipper-hide table{
	transform: rotate3d(1, 0, 0, 90deg);
	-webkit-transform: rotate3d(1, 0, 0, 90deg);
}
.flipper-show table{
	transform: rotate3d(1, 0, 0, -90deg);
	-webkit-transform: rotate3d(1, 0, 0, -90deg);	
}
.goLeft{
	transform: translate3d(-130%, 0, 0) !important;
	-webkit-transform: translate3d(-130%, 0, 0) !important;
}
.goRight{
	transform: translate3d(130%, 0, 0) !important;
	-webkit-transform: translate3d(130%, 0, 0) !important;
}
#start-next-cat, #end-panel, #end-course, #tutorial, #startDay, #end-cat{
	height: 100%;
	position: relative;
	overflow: hidden;
}
#btn-next-cat, #btn-next-cat-end{
	position: absolute;
	width: 100%;
	bottom: 0px;
}
#start-next-cat, #end-cat, #end-course, #new-category-choice, #learn-container, #choose-cat, #end-panel, #tutorial, #startDay{
	display: none;
	position: relative;
	transition: 1s;
	transform-origin: 100% 40%; /* half of height */
	-webkit-transition: 1s;
	-webkit-transform-origin: 100% 40%; /* half of height */
	-webkit-transition: transform 1s ease;
	-moz-transition: transform 1s ease;
	-o-transition: transform 1s ease;
	-ms-transition: transform 1s ease;
	transition: transform 1s ease;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	left: 0;
}
#new-category-choice{
	height: 100%;
	overflow: hidden;
}
.next-cat-left{
   transform: translateX(130%) !important;
   -webkit-transform: translateX(130%) !important;
}
.next-cat-right{
    transform: translateX(-130%) !important;
    -webkit-transform: translateX(-130%) !important;
}
#main-text-next-cat{
	text-align: right;
	color: white;
	font-size: 30px;
	margin: 50px;
}
#name-next-cat, #invite-to-ads{
	text-align: center;
	color: white;
	font-size: 30px;
	margin-top: 18%;
}
#invite-to-ads{
    margin-top: 100px;
}
.before-start-info{
	text-align: center;
	color: white;
	width: 80%;
	margin: 21% auto 16%;
	font-size: 18px;
}
.before-start-info a, .before-start-info a:hover{
	text-decoration: underline;
	color: white;
}
#end-cat .before-start-info{
	margin: 33% auto 16%;
}
#btn-next-cat{
	text-align: center;
}
#progress-circe{
	text-align: center;
}
.c100{
	float: none;
	margin: 20px auto;
	background-color: rgba(0, 0, 0, 0);
	border: 4px solid #3f8cb7;    
	z-index: 10;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 0.99em;
	height: 0.99em;
	background: #3f8cb7;
	background-clip: padding-box;
}
.bar{
	border: 0.08em solid #6dd0f7 !important;
}
.c100::after{
	top: 0.04em;
    left: 0.04em;
    width: 0.92em;
    height: 0.92em;
	background: url("../img/ok.png");
	background-size: 100% 100%;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-o-transition: 0s;
	-ms-transition: 0s;
}
.hoverBTN::after{
	background: url("../img/okH.png") !important;
	background-size: cover !important;
}
.c100 > span {
    width: 3.33em;
    line-height: 3.33em;
    font-size: 0.3em;
    color: #000;
	font-weight: bold;
}
.loading-waiting{
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
	-webkit-animation-name: spin;
    animation-name: spin;
    animation-iteration-count: infinite; 
	-webkit-animation-iteration-count: infinite; 
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
#first-use-loading-page{
	text-align: center;
	font-size: 28px;
	color: white;
	font-weight: bold;
	font-weight: 600;
}
#first-use-loading-page p:first-of-type{
	margin: 0px 0px;
	padding: 100px 0px;
}
section{
	display: none;
}
.tut-method{
	display: none;
}
.tut-method:first-of-type{
	display: block;
}
.tut-method h3{
	position: relative;
	padding-top: 60px;
	width: 90%;
	margin: 0px auto;
}
.tut-method h5{
	font-weight: normal;
	font-size: 15px;
	margin-top: 15px;
}
#tut-learn-panel .confirm-swipe table{
	top: 40px;
}
#cont-l-w-i-s-c{
	text-align: center;
	margin-bottom: 30px;
}
#cont-l-w-i-s-c h4{
	margin-bottom: 5px;
}
.note-skip-btn{
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: white;
	width: 100%;
	z-index: 0;
}
.note-skip-btn div{
	width: 50%;
	height: 87px;
	float: left;
	font-size: 24px;
}
.note-skip-btn  .note-btn-hover{
	/*background: transparent url("../img/note-btn-h.png") repeat scroll 0% 0% / cover !important;
	position: relativ;
	border-bottom: 1px solid black !important;
	border-top: 1px solid black !important;*/
	text-decoration: underline;
}
.note-skip-btn  .note-btn{
	/*background: transparent url("../img/note-btn.png") repeat scroll 0% 0%;
	position: relativ;
	background-size: 100% 100%;
	border-bottom: 1px solid white;
	border-radius: 25px;
	border-top: 1px solid white;*/
}
.note-skip-btn  .skip-btn-hover{
	/*background: transparent url("../img/skip-btn-h.png") repeat scroll 0% 0% !important;
	background-size: 100% 100% !important;
	border-bottom: 1px solid black !important;
	border-top: 1px solid black !important;*/
	text-decoration: underline;
}
.note-skip-btn  .skip-btn{
	/*background: transparent url("../img/skip-btn.png") repeat scroll 0% 0%;
	background-size: 100% 100%;
	border-bottom: 1px solid white;
	border-radius: 25px;
	border-top: 1px solid white;*/
}
.note-skip-btn  .note-btn p{
	padding-left: 15px;
	text-align: left;
	margin-top: 45px;
	font-size: 22px;
}
.note-skip-btn  .skip-btn p{
	padding-right: 15px;
    text-align: right;
	margin-top: 45px;
	font-size: 22px;
}
#progess-btn-stan-in-cycle, #progess-btn-stan-in-cycle-ncat{
	z-index: 100;
}
#startDay h1, #start-next-cat h1, #end-cat h1, #new-category-choice h1{
	font-weight: bold;
	font-weight: 600;
    font-size: 28px;
	margin-top: 0;
	padding-top: 34px;
}
.you-start-learned{
    color: white;
    text-align: center;
    margin-top: 23%;
    font-size: 21px;
}
.you-start-learned2, .you-start-learned3{
    color: white;
    text-align: center;
    margin-top: 0%;
    font-size: 21px;
}
#end-course .you-start-learned3{
	margin-top: 130px;
}
#end-course a, #end-course a:hover{
	color: white;
	text-decoration: underline;
}
.goToReverse{
	color: white;
	text-align: center;
	margin-top: 25%;
	font-weight: bold;
	font-weight: 600;
	font-size: 28px;
}
#start-day-wrap-ok-no-end-course img, #start-day-wrap-ok-no img, #new-cat-ok-no-panel img, #end-day-ok-no-panel img, #tut-wrap-ok-no img{
	width: 135px;
	margin-top: 22px;
	z-index: 1;
}
#suggest-new-category{
	margin-top: 0px !important;
	margin-bottom: 15px !important;
	padding-top: 0px !important;
}
#cont-l-w-i-s-c{
	color: white;
}
#cont-l-w-i-s-c  > p{
	margin: 5px 0px 10px 0px;
}
#new-cat-ok-no-panel{
	z-index: 2;
	padding-bottom: 0px !important;
}
#new-cat-ok-no-panel img{
	z-index: 3;
    pointer-events: all;
}
.remind-img{
	display: none;
	position: absolute;
	top: -5px;
	left: 5px;
	width: 29%;
}
#first-use-loading-page #progress-circle{
	position: absolute;
	bottom: 0;
	width: 100%;    
	overflow: hidden;
}
#first-use-loading-page #progress-circle .c100{
	top: 0px;
}
#menu{
	position: fixed;
	width: 100%;
	transform-origin: 100% 40% 0px;
	-webkit-transition: 0.8s;
	-webkit-transform-origin: 100% 40%;
	-webkit-transition: all 0.8s ease;
	transition: all 0.8s ease 0s;
	transform: translate3d(0, -700px, 0);
	-webkit-transform: translate3d(0, -700px, 0);
	background: rgb(63, 140, 183) none repeat scroll 0% 0%;
	z-index: 1001;
	background: transparent url("../img/bg.png") repeat scroll 0% 0%;
	background-size: 100% 100%;
}
.showmenu{
	transform: translate3d(0, 0, 0) !important;
	-webkit-transform: translate3d(0, 0, 0) !important;
}
#menu li{
	display: block;
	text-align: center;
	color: white;
	font-weight: 400;
	font-size: 20px;
	width: 95%;
	margin: 15px auto;
	padding: 15px 0;
	border-bottom: 1px solid white;
	border-radius: 25px;
	border-top: 1px solid white;
}
#menu li:last-of-type{
	font-size: 48px;
	border: 0;
	width: 100%;
	margin: 10px auto;
	padding: 0px 0;
	box-shadow: unset;
	max-height: 52px;
	background: #265067;
	padding-top: 10px;
	margin-top: 24px;
	margin-bottom: 0px;
	border-radius: 0;
}
#menu ul{
	padding: 25px 0 0 0;
	margin: 0;
}
#menu-switch{
	position: fixed;
	top: 10px;
	right: 11px;
	width: 3%;
	z-index: 1000;
}
#readP{
	display: none;
}
#words-nav {
    display: none !important;
}
#count-word-to-learn, #count-word-to-learn-tut{
    font-size: 22px;
    color: white;
    position: absolute;
    margin-top: 0px;
	margin-left: 10px;
	text-align: center;
}
#count-word-to-learn-tut{
    display: none;
}
.absolut-tut{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2222222;	
	height: 100%;
	width: 100%;
}
#statistic{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2222222;	
	-webkit-transition: transform 0.8s ease;
	-moz-transition: transform 0.8s ease;
	-o-transition: transform 0.8s ease;
	-ms-transition: transform 0.8s ease;
	transition: transform 0.8s ease;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	left: 0;
	height: 100%;
	width: 100%;
	background: url('../img/bg.png') 100% 100%;\
}
#statistic img{
	width: 20px;
	position: absolute;
	top: 10px;
	left: 10px;
}
#statistic .inProgressCatList{
	color: white;
	text-align: center;
	margin-top: 0%;
	font-size: 21px;
	width: 80%;
	margin: 0% auto;
}
#count-word-to-learn .c100{
	width: 36px !important;
	height: 36px !important;
	background-color: rgba(0, 0, 0, 0) !important;
	margin-top: 10px !important;
	margin: 10px 4px 4px 0 !important;
	border: 6px solid #3f8cb7 !important;
}
#count-word-to-learn .c100 .slice{
	width: 44px !important;
	height: 44px !important;
	clip: rect(0em, 42px, 42px, 21px) !important;
	left: -3px;
    top: -3px;
}
#count-word-to-learn .pie, #count-word-to-learn .c100 .bar, #count-word-to-learn .c100.p51 .fill,#count-word-to-learn .c100.p52 .fill,#count-word-to-learn .c100.p53 .fill,#count-word-to-learn .c100.p54 .fill,#count-word-to-learn .c100.p55 .fill,#count-word-to-learn .c100.p56 .fill,#count-word-to-learn .c100.p57 .fill,#count-word-to-learn .c100.p58 .fill,#count-word-to-learn .c100.p59 .fill,#count-word-to-learn .c100.p60 .fill,#count-word-to-learn .c100.p61 .fill,#count-word-to-learn .c100.p62 .fill,#count-word-to-learn .c100.p63 .fill,#count-word-to-learn .c100.p64 .fill,#count-word-to-learn .c100.p65 .fill,#count-word-to-learn .c100.p66 .fill,#count-word-to-learn .c100.p67 .fill,#count-word-to-learn .c100.p68 .fill,#count-word-to-learn .c100.p69 .fill,#count-word-to-learn .c100.p70 .fill,#count-word-to-learn .c100.p71 .fill,#count-word-to-learn .c100.p72 .fill,#count-word-to-learn .c100.p73 .fill,#count-word-to-learn .c100.p74 .fill,#count-word-to-learn .c100.p75 .fill,#count-word-to-learn .c100.p76 .fill,#count-word-to-learn .c100.p77 .fill,#count-word-to-learn .c100.p78 .fill,#count-word-to-learn .c100.p79 .fill,#count-word-to-learn .c100.p80 .fill,#count-word-to-learn .c100.p81 .fill,#count-word-to-learn .c100.p82 .fill,#count-word-to-learn .c100.p83 .fill,#count-word-to-learn .c100.p84 .fill,#count-word-to-learn .c100.p85 .fill,#count-word-to-learn .c100.p86 .fill,#count-word-to-learn .c100.p87 .fill,#count-word-to-learn .c100.p88 .fill,#count-word-to-learn .c100.p89 .fill,#count-word-to-learn .c100.p90 .fill,#count-word-to-learn .c100.p91 .fill,#count-word-to-learn .c100.p92 .fill,#count-word-to-learn .c100.p93 .fill,#count-word-to-learn .c100.p94 .fill,#count-word-to-learn .c100.p95 .fill,#count-word-to-learn .c100.p96 .fill,#count-word-to-learn .c100.p97 .fill,#count-word-to-learn .c100.p98 .fill,#count-word-to-learn .c100.p99 .fill,#count-word-to-learn .c100.p100 .fill{
	width: 36px !important;
	height: 36px !important;
	clip: rect(0em, 21px, 42px, 0em) !important;
	border: 3px solid #6dd0f7 !important;
}
#count-word-to-learn .bar {
    border: 3px solid #6dd0f7 !important;
}
#count-word-to-learn .c100::after{
	background: rgba(245, 245, 245, 0) !important;
}
#count-word-to-learn .rect-auto,#count-word-to-learn  .c100.p51 .slice,#count-word-to-learn  .c100.p52 .slice,#count-word-to-learn  .c100.p53 .slice,#count-word-to-learn  .c100.p54 .slice,#count-word-to-learn  .c100.p55 .slice,#count-word-to-learn  .c100.p56 .slice,#count-word-to-learn  .c100.p57 .slice,#count-word-to-learn  .c100.p58 .slice,#count-word-to-learn  .c100.p59 .slice,#count-word-to-learn  .c100.p60 .slice,#count-word-to-learn  .c100.p61 .slice,#count-word-to-learn  .c100.p62 .slice,#count-word-to-learn  .c100.p63 .slice,#count-word-to-learn  .c100.p64 .slice,#count-word-to-learn  .c100.p65 .slice,#count-word-to-learn  .c100.p66 .slice,#count-word-to-learn  .c100.p67 .slice,#count-word-to-learn  .c100.p68 .slice,#count-word-to-learn  .c100.p69 .slice,#count-word-to-learn  .c100.p70 .slice,#count-word-to-learn  .c100.p71 .slice,#count-word-to-learn  .c100.p72 .slice,#count-word-to-learn  .c100.p73 .slice,#count-word-to-learn  .c100.p74 .slice,#count-word-to-learn  .c100.p75 .slice,#count-word-to-learn  .c100.p76 .slice,#count-word-to-learn  .c100.p77 .slice,#count-word-to-learn  .c100.p78 .slice,#count-word-to-learn  .c100.p79 .slice,#count-word-to-learn  .c100.p80 .slice,#count-word-to-learn  .c100.p81 .slice,#count-word-to-learn  .c100.p82 .slice,#count-word-to-learn  .c100.p83 .slice,#count-word-to-learn  .c100.p84 .slice,#count-word-to-learn  .c100.p85 .slice,#count-word-to-learn  .c100.p86 .slice,#count-word-to-learn  .c100.p87 .slice,#count-word-to-learn  .c100.p88 .slice,#count-word-to-learn  .c100.p89 .slice,#count-word-to-learn  .c100.p90 .slice,#count-word-to-learn  .c100.p91 .slice,#count-word-to-learn  .c100.p92 .slice,#count-word-to-learn  .c100.p93 .slice,#count-word-to-learn  .c100.p94 .slice,#count-word-to-learn  .c100.p95 .slice,#count-word-to-learn  .c100.p96 .slice,#count-word-to-learn  .c100.p97 .slice,#count-word-to-learn  .c100.p98 .slice,#count-word-to-learn  .c100.p99 .slice,#count-word-to-learn  .c100.p100 .slice{
	clip: rect(auto, auto, auto, auto) !important;
}
#progess-btn-per-in-cycle-2{
	font-size: 16px;
	color: white;
	font-weight: 400;
	line-height: 36px;
	width: 36px;
}
#count-word-to-learn-tut .c100{
	width: 36px !important;
	height: 36px !important;
	background-color: rgba(0, 0, 0, 0) !important;
	margin-top: 10px !important;
	margin: 10px 4px 4px 0px !important;
	border: 6px solid #3f8cb7 !important;
}
#count-word-to-learn-tut .c100 .slice{
	width: 44px !important;
	height: 44px !important;
	clip: rect(0em, 42px, 42px, 21px) !important;
	left: -3px;
    top: -3px;
}
#count-word-to-learn-tut .pie, #count-word-to-learn-tut .c100 .bar, #count-word-to-learn-tut .c100.p51 .fill,#count-word-to-learn-tut .c100.p52 .fill,#count-word-to-learn-tut .c100.p53 .fill,#count-word-to-learn-tut .c100.p54 .fill,#count-word-to-learn-tut .c100.p55 .fill,#count-word-to-learn-tut .c100.p56 .fill,#count-word-to-learn-tut .c100.p57 .fill,#count-word-to-learn-tut .c100.p58 .fill,#count-word-to-learn-tut .c100.p59 .fill,#count-word-to-learn-tut .c100.p60 .fill,#count-word-to-learn-tut .c100.p61 .fill,#count-word-to-learn-tut .c100.p62 .fill,#count-word-to-learn-tut .c100.p63 .fill,#count-word-to-learn-tut .c100.p64 .fill,#count-word-to-learn-tut .c100.p65 .fill,#count-word-to-learn-tut .c100.p66 .fill,#count-word-to-learn-tut .c100.p67 .fill,#count-word-to-learn-tut .c100.p68 .fill,#count-word-to-learn-tut .c100.p69 .fill,#count-word-to-learn-tut .c100.p70 .fill,#count-word-to-learn-tut .c100.p71 .fill,#count-word-to-learn-tut .c100.p72 .fill,#count-word-to-learn-tut .c100.p73 .fill,#count-word-to-learn-tut .c100.p74 .fill,#count-word-to-learn-tut .c100.p75 .fill,#count-word-to-learn-tut .c100.p76 .fill,#count-word-to-learn-tut .c100.p77 .fill,#count-word-to-learn-tut .c100.p78 .fill,#count-word-to-learn-tut .c100.p79 .fill,#count-word-to-learn-tut .c100.p80 .fill,#count-word-to-learn-tut .c100.p81 .fill,#count-word-to-learn-tut .c100.p82 .fill,#count-word-to-learn-tut .c100.p83 .fill,#count-word-to-learn-tut .c100.p84 .fill,#count-word-to-learn-tut .c100.p85 .fill,#count-word-to-learn-tut .c100.p86 .fill,#count-word-to-learn-tut .c100.p87 .fill,#count-word-to-learn-tut .c100.p88 .fill,#count-word-to-learn-tut .c100.p89 .fill,#count-word-to-learn-tut .c100.p90 .fill,#count-word-to-learn-tut .c100.p91 .fill,#count-word-to-learn-tut .c100.p92 .fill,#count-word-to-learn-tut .c100.p93 .fill,#count-word-to-learn-tut .c100.p94 .fill,#count-word-to-learn-tut .c100.p95 .fill,#count-word-to-learn-tut .c100.p96 .fill,#count-word-to-learn-tut .c100.p97 .fill,#count-word-to-learn-tut .c100.p98 .fill,#count-word-to-learn-tut .c100.p99 .fill,#count-word-to-learn-tut .c100.p100 .fill{
	width: 36px !important;
	height: 36px !important;
	clip: rect(0em, 21px, 42px, 0em) !important;
	border: 3px solid #6dd0f7 !important;
}
#count-word-to-learn-tut .bar {
    border: 3px solid #6dd0f7 !important;
}
#count-word-to-learn-tut .c100::after{
	background: rgba(245, 245, 245, 0) !important;
}
#count-word-to-learn-tut .rect-auto,#count-word-to-learn-tut  .c100.p51 .slice,#count-word-to-learn-tut  .c100.p52 .slice,#count-word-to-learn-tut  .c100.p53 .slice,#count-word-to-learn-tut  .c100.p54 .slice,#count-word-to-learn-tut  .c100.p55 .slice,#count-word-to-learn-tut  .c100.p56 .slice,#count-word-to-learn-tut  .c100.p57 .slice,#count-word-to-learn-tut  .c100.p58 .slice,#count-word-to-learn-tut  .c100.p59 .slice,#count-word-to-learn-tut  .c100.p60 .slice,#count-word-to-learn-tut  .c100.p61 .slice,#count-word-to-learn-tut  .c100.p62 .slice,#count-word-to-learn-tut  .c100.p63 .slice,#count-word-to-learn-tut  .c100.p64 .slice,#count-word-to-learn-tut  .c100.p65 .slice,#count-word-to-learn-tut  .c100.p66 .slice,#count-word-to-learn-tut  .c100.p67 .slice,#count-word-to-learn-tut  .c100.p68 .slice,#count-word-to-learn-tut  .c100.p69 .slice,#count-word-to-learn-tut  .c100.p70 .slice,#count-word-to-learn-tut  .c100.p71 .slice,#count-word-to-learn-tut  .c100.p72 .slice,#count-word-to-learn-tut  .c100.p73 .slice,#count-word-to-learn-tut  .c100.p74 .slice,#count-word-to-learn-tut  .c100.p75 .slice,#count-word-to-learn-tut  .c100.p76 .slice,#count-word-to-learn-tut  .c100.p77 .slice,#count-word-to-learn-tut  .c100.p78 .slice,#count-word-to-learn-tut  .c100.p79 .slice,#count-word-to-learn-tut  .c100.p80 .slice,#count-word-to-learn-tut  .c100.p81 .slice,#count-word-to-learn-tut  .c100.p82 .slice,#count-word-to-learn-tut  .c100.p83 .slice,#count-word-to-learn-tut  .c100.p84 .slice,#count-word-to-learn-tut  .c100.p85 .slice,#count-word-to-learn-tut  .c100.p86 .slice,#count-word-to-learn-tut  .c100.p87 .slice,#count-word-to-learn-tut  .c100.p88 .slice,#count-word-to-learn-tut  .c100.p89 .slice,#count-word-to-learn-tut  .c100.p90 .slice,#count-word-to-learn-tut  .c100.p91 .slice,#count-word-to-learn-tut  .c100.p92 .slice,#count-word-to-learn-tut  .c100.p93 .slice,#count-word-to-learn-tut  .c100.p94 .slice,#count-word-to-learn-tut  .c100.p95 .slice,#count-word-to-learn-tut  .c100.p96 .slice,#count-word-to-learn-tut  .c100.p97 .slice,#count-word-to-learn-tut  .c100.p98 .slice,#count-word-to-learn-tut  .c100.p99 .slice,#count-word-to-learn-tut  .c100.p100 .slice{
	clip: rect(auto, auto, auto, auto) !important;
}
#progess-btn-per-in-cycle-2-tut{
	font-size: 16px;
	color: white;
	font-weight: 400;
	line-height: 36px;
	width: 36px;
}
.middle-line{
	border-top: 1px solid white;
	position: relative;
}
.nbWordInCycle, .nbWordInCycle-tut{
	text-align: center;
	font-size: 19px;
	position: absolute;
	text-align: center;
	top: -12px;
	left: 0;
	width: 100%;
}
.middle-line-tr{
	position: relative;
	top: 200px;
}
.middle-line-tr .middle-line{
	width: 35%;
}
.middle-noline{
	height: 1px;
	position: relative;
}
.setCat span{    
	display: none;
    font-size: 13px;
    font-style: italic;
}
.learnedCat .learnedCatInfo{
	display: block !important;
}
.inProgressCat .inProgressCatInfo{
	display: block !important;
}
.missingCat .missingCatInfo{
	display: block !important;
}
.list{
	display: none;
}
.fuzzy-search, .fuzzy-search:focus, .fuzzy-search:hover {
	display: block;
	margin: auto;
	width: 70%;
	padding: 5px;
	background: transparent none repeat scroll 0% 0%;
	color: white;
	border: 0px;
	border-bottom: 2px solid white;
	border-width: 0px 0px 2px;
	border-style: none none solid;
	border-color: -moz-use-text-color -moz-use-text-color white;
	box-shadow: 0px;
	outline: 0px;
	outline: none;
}
#list-word-in-sug-cat{
	display: block;
	width: 95%;
	margin: auto auto;
}
.l2, .l3{
	display: none;
}
.lang2 .l2{
	display: inline !important;
}
.lang3 .l3{
	display: inline !important;
}
#noteInTut{
	display: none;
}
#tutorial .learnMethod .text{
	min-height: 250px !important;
}
@media (min-width : 500px) {
	#first-use-loading-page {
		font-size: 44px;
		font-family: 'Ubuntu-Bold'; 
		padding-top: 54px;
	}
	#startDay h1, #start-next-cat h1, #end-cat h1, #new-category-choice h1, .goToReverse {
		font-size: 44px;
		font-family: 'Ubuntu-Bold'; 
	}
	.you-start-learned, .you-start-learned2, .you-start-learned3 {
		font-size: 33px;
	}
	#main-text-next-cat {
		font-size: 46px;
		margin: 75px;
	}
	.before-start-info {
		font-size: 28px;
	}
	#menu li {
		font-size: 36px;
	}
	h3 {
		font-size: 44px;
		font-family: 'Ubuntu-Bold'; 
		padding-top: 86px;
	}
	.learnMethod .text {
		font-size: 40px !important;
		min-height: 150px;
	}
	.nbWordInCycle, .nbWordInCycle-tut {
		font-size: 30px;
		top: -19px;
	}
	.note-skip-btn .note-btn p {
		padding-left: 23px;
		font-size: 34px;
	}
	.note-skip-btn .skip-btn p {
		padding-right: 23px;
		font-size: 34px
	}
	#name-next-cat, #invite-to-ads {
		font-size: 48px;
		margin-top: 18%;
	}
	#statistic .inProgressCatList {
		font-size: 33px;
	}
	#cont-l-w-i-s-c {
		font-size: 29px;
		margin-bottom: 47px;
	}
	#suggest-new-category {
		margin-bottom: 24px !important;
	}
	h1 {
		font-size: 44px;
		padding-top: 40px;
		font-family: 'Ubuntu-Bold'; 
	}
	.before-start-info {
		font-size: 28px;
	}
	#invite-to-ads {
		margin-top: 158px;
	}
	.fuzzy-search, .fuzzy-search:focus, .fuzzy-search:hover {
		width: 70%;
		padding: 8px;
		border-bottom: 3px solid white;
		border-width: 0px 0px 3px;
		font-size: 20px;
	}
	.text{
		margin: 24px auto;
		border-radius: 40px;
		padding: 15px 0;
		font-size: 35px;
	}
	.setCat span{    
		font-size: 21px;
	}
	.tut-method h3 {
		padding-top: 92px;
	}
	#tut-learn-panel .confirm-swipe table {
		top: 63px;
	}
	#tutorial .learnMethod .text {
		min-height: 400px !important;
	}
	#count-word-to-learn, #count-word-to-learn-tut{
		font-size: 34px;
		margin-left: 15px;
	}
	#count-word-to-learn .c100{
		width: 57px !important;
		height: 57px !important;
		background-color: rgba(0, 0, 0, 0) !important;
		margin-top: 16px !important;
		margin: 16px 6px 6px 0 !important;
		border: 9px solid #3f8cb7 !important;
	}
	#count-word-to-learn .c100 .slice{
		width: 70px !important;
		height: 70px !important;
		clip: rect(0em, 67px, 67px, 66px) !important;
		left: -5px;
		top: -5px;
	}
	#count-word-to-learn .pie, #count-word-to-learn .c100 .bar, #count-word-to-learn .c100.p51 .fill,#count-word-to-learn .c100.p52 .fill,#count-word-to-learn .c100.p53 .fill,#count-word-to-learn .c100.p54 .fill,#count-word-to-learn .c100.p55 .fill,#count-word-to-learn .c100.p56 .fill,#count-word-to-learn .c100.p57 .fill,#count-word-to-learn .c100.p58 .fill,#count-word-to-learn .c100.p59 .fill,#count-word-to-learn .c100.p60 .fill,#count-word-to-learn .c100.p61 .fill,#count-word-to-learn .c100.p62 .fill,#count-word-to-learn .c100.p63 .fill,#count-word-to-learn .c100.p64 .fill,#count-word-to-learn .c100.p65 .fill,#count-word-to-learn .c100.p66 .fill,#count-word-to-learn .c100.p67 .fill,#count-word-to-learn .c100.p68 .fill,#count-word-to-learn .c100.p69 .fill,#count-word-to-learn .c100.p70 .fill,#count-word-to-learn .c100.p71 .fill,#count-word-to-learn .c100.p72 .fill,#count-word-to-learn .c100.p73 .fill,#count-word-to-learn .c100.p74 .fill,#count-word-to-learn .c100.p75 .fill,#count-word-to-learn .c100.p76 .fill,#count-word-to-learn .c100.p77 .fill,#count-word-to-learn .c100.p78 .fill,#count-word-to-learn .c100.p79 .fill,#count-word-to-learn .c100.p80 .fill,#count-word-to-learn .c100.p81 .fill,#count-word-to-learn .c100.p82 .fill,#count-word-to-learn .c100.p83 .fill,#count-word-to-learn .c100.p84 .fill,#count-word-to-learn .c100.p85 .fill,#count-word-to-learn .c100.p86 .fill,#count-word-to-learn .c100.p87 .fill,#count-word-to-learn .c100.p88 .fill,#count-word-to-learn .c100.p89 .fill,#count-word-to-learn .c100.p90 .fill,#count-word-to-learn .c100.p91 .fill,#count-word-to-learn .c100.p92 .fill,#count-word-to-learn .c100.p93 .fill,#count-word-to-learn .c100.p94 .fill,#count-word-to-learn .c100.p95 .fill,#count-word-to-learn .c100.p96 .fill,#count-word-to-learn .c100.p97 .fill,#count-word-to-learn .c100.p98 .fill,#count-word-to-learn .c100.p99 .fill,#count-word-to-learn .c100.p100 .fill{
		width: 57px !important;
		height: 57px !important;
		clip: rect(0em, 35px, 67px, 0em) !important;
		border: 5px solid #6dd0f7 !important;
	}
	#count-word-to-learn .bar {
		border: 5px solid #6dd0f7 !important;
	}
	#count-word-to-learn .c100::after{
		background: rgba(245, 245, 245, 0) !important;
	}
	#count-word-to-learn .rect-auto,#count-word-to-learn  .c100.p51 .slice,#count-word-to-learn  .c100.p52 .slice,#count-word-to-learn  .c100.p53 .slice,#count-word-to-learn  .c100.p54 .slice,#count-word-to-learn  .c100.p55 .slice,#count-word-to-learn  .c100.p56 .slice,#count-word-to-learn  .c100.p57 .slice,#count-word-to-learn  .c100.p58 .slice,#count-word-to-learn  .c100.p59 .slice,#count-word-to-learn  .c100.p60 .slice,#count-word-to-learn  .c100.p61 .slice,#count-word-to-learn  .c100.p62 .slice,#count-word-to-learn  .c100.p63 .slice,#count-word-to-learn  .c100.p64 .slice,#count-word-to-learn  .c100.p65 .slice,#count-word-to-learn  .c100.p66 .slice,#count-word-to-learn  .c100.p67 .slice,#count-word-to-learn  .c100.p68 .slice,#count-word-to-learn  .c100.p69 .slice,#count-word-to-learn  .c100.p70 .slice,#count-word-to-learn  .c100.p71 .slice,#count-word-to-learn  .c100.p72 .slice,#count-word-to-learn  .c100.p73 .slice,#count-word-to-learn  .c100.p74 .slice,#count-word-to-learn  .c100.p75 .slice,#count-word-to-learn  .c100.p76 .slice,#count-word-to-learn  .c100.p77 .slice,#count-word-to-learn  .c100.p78 .slice,#count-word-to-learn  .c100.p79 .slice,#count-word-to-learn  .c100.p80 .slice,#count-word-to-learn  .c100.p81 .slice,#count-word-to-learn  .c100.p82 .slice,#count-word-to-learn  .c100.p83 .slice,#count-word-to-learn  .c100.p84 .slice,#count-word-to-learn  .c100.p85 .slice,#count-word-to-learn  .c100.p86 .slice,#count-word-to-learn  .c100.p87 .slice,#count-word-to-learn  .c100.p88 .slice,#count-word-to-learn  .c100.p89 .slice,#count-word-to-learn  .c100.p90 .slice,#count-word-to-learn  .c100.p91 .slice,#count-word-to-learn  .c100.p92 .slice,#count-word-to-learn  .c100.p93 .slice,#count-word-to-learn  .c100.p94 .slice,#count-word-to-learn  .c100.p95 .slice,#count-word-to-learn  .c100.p96 .slice,#count-word-to-learn  .c100.p97 .slice,#count-word-to-learn  .c100.p98 .slice,#count-word-to-learn  .c100.p99 .slice,#count-word-to-learn  .c100.p100 .slice{
		clip: rect(auto, auto, auto, auto) !important;
	}
	#progess-btn-per-in-cycle-2{
		font-size: 25px;
		color: white;
		font-weight: 400;
		line-height: 57px;
		width: 57px;
	}
	#count-word-to-learn-tut .c100{
		width: 57px !important;
		height: 57px !important;
		background-color: rgba(0, 0, 0, 0) !important;
		margin-top: 16px !important;
		margin: 16px 6px 6px 0px !important;
		border: 9px solid #3f8cb7 !important;
	}
	#count-word-to-learn-tut .c100 .slice{
		width: 70px !important;
		height: 70px !important;
		clip: rect(0em, 67px, 67px, 35px) !important;
		left: -5px;
		top: -5px;
	}
	#count-word-to-learn-tut .pie, #count-word-to-learn-tut .c100 .bar, #count-word-to-learn-tut .c100.p51 .fill,#count-word-to-learn-tut .c100.p52 .fill,#count-word-to-learn-tut .c100.p53 .fill,#count-word-to-learn-tut .c100.p54 .fill,#count-word-to-learn-tut .c100.p55 .fill,#count-word-to-learn-tut .c100.p56 .fill,#count-word-to-learn-tut .c100.p57 .fill,#count-word-to-learn-tut .c100.p58 .fill,#count-word-to-learn-tut .c100.p59 .fill,#count-word-to-learn-tut .c100.p60 .fill,#count-word-to-learn-tut .c100.p61 .fill,#count-word-to-learn-tut .c100.p62 .fill,#count-word-to-learn-tut .c100.p63 .fill,#count-word-to-learn-tut .c100.p64 .fill,#count-word-to-learn-tut .c100.p65 .fill,#count-word-to-learn-tut .c100.p66 .fill,#count-word-to-learn-tut .c100.p67 .fill,#count-word-to-learn-tut .c100.p68 .fill,#count-word-to-learn-tut .c100.p69 .fill,#count-word-to-learn-tut .c100.p70 .fill,#count-word-to-learn-tut .c100.p71 .fill,#count-word-to-learn-tut .c100.p72 .fill,#count-word-to-learn-tut .c100.p73 .fill,#count-word-to-learn-tut .c100.p74 .fill,#count-word-to-learn-tut .c100.p75 .fill,#count-word-to-learn-tut .c100.p76 .fill,#count-word-to-learn-tut .c100.p77 .fill,#count-word-to-learn-tut .c100.p78 .fill,#count-word-to-learn-tut .c100.p79 .fill,#count-word-to-learn-tut .c100.p80 .fill,#count-word-to-learn-tut .c100.p81 .fill,#count-word-to-learn-tut .c100.p82 .fill,#count-word-to-learn-tut .c100.p83 .fill,#count-word-to-learn-tut .c100.p84 .fill,#count-word-to-learn-tut .c100.p85 .fill,#count-word-to-learn-tut .c100.p86 .fill,#count-word-to-learn-tut .c100.p87 .fill,#count-word-to-learn-tut .c100.p88 .fill,#count-word-to-learn-tut .c100.p89 .fill,#count-word-to-learn-tut .c100.p90 .fill,#count-word-to-learn-tut .c100.p91 .fill,#count-word-to-learn-tut .c100.p92 .fill,#count-word-to-learn-tut .c100.p93 .fill,#count-word-to-learn-tut .c100.p94 .fill,#count-word-to-learn-tut .c100.p95 .fill,#count-word-to-learn-tut .c100.p96 .fill,#count-word-to-learn-tut .c100.p97 .fill,#count-word-to-learn-tut .c100.p98 .fill,#count-word-to-learn-tut .c100.p99 .fill,#count-word-to-learn-tut .c100.p100 .fill{
		width: 57px !important;
		height: 57px !important;
		clip: rect(0em, 35px, 67px, 0em) !important;
		border: 5px solid #6dd0f7 !important;
	}
	#count-word-to-learn-tut .bar {
		border: 5px solid #6dd0f7 !important;
	}
	#count-word-to-learn-tut .c100::after{
		background: rgba(245, 245, 245, 0) !important;
	}
	#count-word-to-learn-tut .rect-auto,#count-word-to-learn-tut  .c100.p51 .slice,#count-word-to-learn-tut  .c100.p52 .slice,#count-word-to-learn-tut  .c100.p53 .slice,#count-word-to-learn-tut  .c100.p54 .slice,#count-word-to-learn-tut  .c100.p55 .slice,#count-word-to-learn-tut  .c100.p56 .slice,#count-word-to-learn-tut  .c100.p57 .slice,#count-word-to-learn-tut  .c100.p58 .slice,#count-word-to-learn-tut  .c100.p59 .slice,#count-word-to-learn-tut  .c100.p60 .slice,#count-word-to-learn-tut  .c100.p61 .slice,#count-word-to-learn-tut  .c100.p62 .slice,#count-word-to-learn-tut  .c100.p63 .slice,#count-word-to-learn-tut  .c100.p64 .slice,#count-word-to-learn-tut  .c100.p65 .slice,#count-word-to-learn-tut  .c100.p66 .slice,#count-word-to-learn-tut  .c100.p67 .slice,#count-word-to-learn-tut  .c100.p68 .slice,#count-word-to-learn-tut  .c100.p69 .slice,#count-word-to-learn-tut  .c100.p70 .slice,#count-word-to-learn-tut  .c100.p71 .slice,#count-word-to-learn-tut  .c100.p72 .slice,#count-word-to-learn-tut  .c100.p73 .slice,#count-word-to-learn-tut  .c100.p74 .slice,#count-word-to-learn-tut  .c100.p75 .slice,#count-word-to-learn-tut  .c100.p76 .slice,#count-word-to-learn-tut  .c100.p77 .slice,#count-word-to-learn-tut  .c100.p78 .slice,#count-word-to-learn-tut  .c100.p79 .slice,#count-word-to-learn-tut  .c100.p80 .slice,#count-word-to-learn-tut  .c100.p81 .slice,#count-word-to-learn-tut  .c100.p82 .slice,#count-word-to-learn-tut  .c100.p83 .slice,#count-word-to-learn-tut  .c100.p84 .slice,#count-word-to-learn-tut  .c100.p85 .slice,#count-word-to-learn-tut  .c100.p86 .slice,#count-word-to-learn-tut  .c100.p87 .slice,#count-word-to-learn-tut  .c100.p88 .slice,#count-word-to-learn-tut  .c100.p89 .slice,#count-word-to-learn-tut  .c100.p90 .slice,#count-word-to-learn-tut  .c100.p91 .slice,#count-word-to-learn-tut  .c100.p92 .slice,#count-word-to-learn-tut  .c100.p93 .slice,#count-word-to-learn-tut  .c100.p94 .slice,#count-word-to-learn-tut  .c100.p95 .slice,#count-word-to-learn-tut  .c100.p96 .slice,#count-word-to-learn-tut  .c100.p97 .slice,#count-word-to-learn-tut  .c100.p98 .slice,#count-word-to-learn-tut  .c100.p99 .slice,#count-word-to-learn-tut  .c100.p100 .slice{
		clip: rect(auto, auto, auto, auto) !important;
	}
	#progess-btn-per-in-cycle-2-tut{
		font-size: 25px;
		color: white;
		font-weight: 400;
		line-height: 57px;
		width: 57px;
	}
	#progress-circle .c100, #wrap-ok-no .c100, #tut-wrap-ok-no .c100, #start-day-wrap-ok-no .c100, #start-day-wrap-ok-no-end-course .c100, #end-day-wrap-ok-no .c100, #new-cat-wrap-ok-no .c100{
		transform: scale(1.6);
		-webkit-transform: scale(1.6);
		margin: 35px auto;
		margin-bottom: 50px;
	} 
	#start-day-wrap-ok-no-end-course img, #start-day-wrap-ok-no img, #new-cat-ok-no-panel img, #end-day-ok-no-panel img, #tut-wrap-ok-no img {
		transform: scale(1.6);
		-webkit-transform: scale(1.6);
		margin-top: 35px;
	}
	#tut-ok-no-panel, #start-day-ok-no-panel, #start-day-ok-no-panel-end-course, #end-day-ok-no-panel, #new-cat-ok-no-panel {
		padding-bottom: 50px !important;
	}
	#new-cat-ok-no-panel {
		z-index: 2;
		padding-bottom: 0px !important;
	}
	#first-use-loading-page #progress-circle {
		padding-top: 15px;
	}
}