/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.14); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.14); }
    100% { transform: scale(1); }
}
.pulse {

}
html{
	height: 100%;
}
body{ 
	font-family: 'Arial';
	height: 100%; 
	width: 100%;
	margin: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}
.background {
    z-index: -1;
    position: fixed;
    top: 0px;
    left: 0;
	width: 100%;
	height: 100%;
}
.nav-circle, .nav-circle-word{
	text-align: center;
	color: white;
	position: relative;
}
.nav-circle p, .nav-circle-word p{
	display: inline-block;
    margin-top: 30px;
    height: 120px;
    width: 105px;
    padding: 15px 0;
    background-repeat: no-repeat;
	cursor: pointer;    
	background-size: contain;
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 50px;
	position: relative;
}
.nav-circle p span, .nav-circle-word  p span{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
    width: 100%;
    line-height: 90px;
}
.nav-circle p img, .nav-circle-word  p img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
.nav-circle p .activ-img, .nav-circle-word  p .activ-img{
	display: none;
}
.nav-circle .activ .activ-img, .nav-circle-word  .activ .activ-img{
	display: inline;
}
.nav-circle-word  .activ .activ-img{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	-webkit-animation-name: pulse;
    animation-name: pulse;
    animation-iteration-count: infinite; 
	-webkit-animation-iteration-count: infinite; 
}
.nav-circle .activ, .nav-circle-word .activ{
	width: 125px;
    padding: 20px 0;
	margin-left: -15px;
	margin-right: -15px;
	z-index: 10;
    position: relative;
    top: 5px;
}
.text{
	width: 90%;
	margin: 15px auto;
	border-radius: 15px;
	text-align: center;
	padding: 10px 0;
	font-size: 45px;
	cursor: pointer;
	position: relative;    
	min-height: 25px;
	
	background: rgba(76,76,76,0.6);
	background: -moz-linear-gradient(top, rgba(76,76,76,0.6) 0%, rgba(89,89,89,0.6) 12%, rgba(71,71,71,0.6) 24%, rgba(44,44,44,0.6) 35%, rgba(0,0,0,0.6) 54%, rgba(17,17,17,0.6) 60%, rgba(19,19,19,0.6) 75%, rgba(28,28,28,0.6) 91%, rgba(19,19,19,0.6) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,0.6)), color-stop(12%, rgba(89,89,89,0.6)), color-stop(24%, rgba(71,71,71,0.6)), color-stop(35%, rgba(44,44,44,0.6)), color-stop(54%, rgba(0,0,0,0.6)), color-stop(60%, rgba(17,17,17,0.6)), color-stop(75%, rgba(19,19,19,0.6)), color-stop(91%, rgba(28,28,28,0.6)), color-stop(100%, rgba(19,19,19,0.6)));
	background: -webkit-linear-gradient(top, rgba(76,76,76,0.6) 0%, rgba(89,89,89,0.6) 12%, rgba(71,71,71,0.6) 24%, rgba(44,44,44,0.6) 35%, rgba(0,0,0,0.6) 54%, rgba(17,17,17,0.6) 60%, rgba(19,19,19,0.6) 75%, rgba(28,28,28,0.6) 91%, rgba(19,19,19,0.6) 100%);
	background: -o-linear-gradient(top, rgba(76,76,76,0.6) 0%, rgba(89,89,89,0.6) 12%, rgba(71,71,71,0.6) 24%, rgba(44,44,44,0.6) 35%, rgba(0,0,0,0.6) 54%, rgba(17,17,17,0.6) 60%, rgba(19,19,19,0.6) 75%, rgba(28,28,28,0.6) 91%, rgba(19,19,19,0.6) 100%);
	background: -ms-linear-gradient(top, rgba(76,76,76,0.6) 0%, rgba(89,89,89,0.6) 12%, rgba(71,71,71,0.6) 24%, rgba(44,44,44,0.6) 35%, rgba(0,0,0,0.6) 54%, rgba(17,17,17,0.6) 60%, rgba(19,19,19,0.6) 75%, rgba(28,28,28,0.6) 91%, rgba(19,19,19,0.6) 100%);
	background: linear-gradient(to bottom, rgba(76,76,76,0.6) 0%, rgba(89,89,89,0.6) 12%, rgba(71,71,71,0.6) 24%, rgba(44,44,44,0.6) 35%, rgba(0,0,0,0.6) 54%, rgba(17,17,17,0.6) 60%, rgba(19,19,19,0.6) 75%, rgba(28,28,28,0.6) 91%, rgba(19,19,19,0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );

    color: white !important;
    border-style: outset;
    border-color: #797979;
}

.text:hover{
	background: rgba(19,19,19,0.8);
	background: -moz-linear-gradient(top, rgba(19,19,19,0.6) 0%, rgba(28,28,28,0.6) 9%, rgba(19,19,19,0.6) 25%, rgba(17,17,17,0.6) 40%, rgba(0,0,0,0.6) 46%, rgba(44,44,44,0.6) 65%, rgba(71,71,71,0.6) 76%, rgba(89,89,89,0.6) 88%, rgba(76,76,76,0.6) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,19,19,0.6)), color-stop(9%, rgba(28,28,28,0.6)), color-stop(25%, rgba(19,19,19,0.6)), color-stop(40%, rgba(17,17,17,0.6)), color-stop(46%, rgba(0,0,0,0.6)), color-stop(65%, rgba(44,44,44,0.6)), color-stop(76%, rgba(71,71,71,0.6)), color-stop(88%, rgba(89,89,89,0.6)), color-stop(100%, rgba(76,76,76,0.6)));
	background: -webkit-linear-gradient(top, rgba(19,19,19,0.6) 0%, rgba(28,28,28,0.6) 9%, rgba(19,19,19,0.6) 25%, rgba(17,17,17,0.6) 40%, rgba(0,0,0,0.6) 46%, rgba(44,44,44,0.6) 65%, rgba(71,71,71,0.6) 76%, rgba(89,89,89,0.6) 88%, rgba(76,76,76,0.6) 100%);
	background: -o-linear-gradient(top, rgba(19,19,19,0.6) 0%, rgba(28,28,28,0.6) 9%, rgba(19,19,19,0.6) 25%, rgba(17,17,17,0.6) 40%, rgba(0,0,0,0.6) 46%, rgba(44,44,44,0.6) 65%, rgba(71,71,71,0.6) 76%, rgba(89,89,89,0.6) 88%, rgba(76,76,76,0.6) 100%);
	background: -ms-linear-gradient(top, rgba(19,19,19,0.6) 0%, rgba(28,28,28,0.6) 9%, rgba(19,19,19,0.6) 25%, rgba(17,17,17,0.6) 40%, rgba(0,0,0,0.6) 46%, rgba(44,44,44,0.6) 65%, rgba(71,71,71,0.6) 76%, rgba(89,89,89,0.6) 88%, rgba(76,76,76,0.6) 100%);
	background: linear-gradient(to bottom, rgba(19,19,19,0.6) 0%, rgba(28,28,28,0.6) 9%, rgba(19,19,19,0.6) 25%, rgba(17,17,17,0.6) 40%, rgba(0,0,0,0.6) 46%, rgba(44,44,44,0.6) 65%, rgba(71,71,71,0.6) 76%, rgba(89,89,89,0.6) 88%, rgba(76,76,76,0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#4c4c4c', GradientType=0 );
}
.startLearn{
	position: fixed;
    bottom: -20px;
    width: 100%;
	padding: 25px 0;
	color: black !important;
	font-weight: bold;
	background: rgba(210,255,82,1);
	background: -moz-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
	background: -webkit-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: -o-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: -ms-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: linear-gradient(to bottom, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=0 );
}

.startLearn:hover{
	background: rgba(145,232,66,1);
	background: -moz-linear-gradient(top, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(145,232,66,1)), color-stop(100%, rgba(210,255,82,1)));
	background: -webkit-linear-gradient(top, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
	background: -o-linear-gradient(top, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
	background: -ms-linear-gradient(top, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
	background: linear-gradient(to bottom, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91e842', endColorstr='#d2ff52', GradientType=0 );
}
.confirm-swipe .text{
	padding: 50px 0;
	margin: 3px auto;
}
#langs div h1, #choose-cat div h1, #list-of-word h2{
	color: black;
	padding: 20px 0;
}
#choose-cat, #list-of-word{
	display: none;
}
#list-of-word h2{
	margin-top: 50px;
}
#list-of-word{
	padding-bottom: 100px;
}
.word table{
	width: 100%;
}
.word table img{
	height: 50px;
}
.word table td:first-of-type{
	width: 85%;
}
.word table .text{
	margin: 0;
}
.word table {
	margin-top: 30px;
}
.word .nocheck .text{
	background: red;
	color: white;
}
.back{
	height: 45px;
    position: absolute;
    top: 20px;
    left: 20px;
	display: none;
	z-index: 5;
}
#info-box{
	text-align: center;
	font-size: 20px;
	color: white;
	padding-top: 50px;
	display: none;
}
.list-of-lang, .list-of-subcat{    
	width: 70%;
    margin-left: 25%;
	display: none;
}
h1{
	text-align: center;
	color: white;
	font-size: 45px;
}
h2{
	width: 80%;
	margin: 40px 0;
	background-color: rgba(255, 255, 255, 0.59);
	text-align: center;
	padding: 20px 0;
	font-size: 45px;
	cursor: pointer;
}
section{
	vertical-align: middle;
}
#choose-your-l{
	display: block;
}
#sub-categories input{
	-webkit-transform: scale(3,3);
    float: left;
    position: relative;
    left: 20px;
    top: 3px;
}
.info-box{
	text-align: center;
	color: white;
	margin-top: 13px;
	font-size: 30px;
}
#learn-container{
	display: none;
	height: 100%
}
#learn-container .good-bad{   
    width: 25%;
	position: absolute;
    bottom: 20px;
    right: 5%;
}
#learn-container .bad-bad{   
    width: 25%;
	position: fixed;
    bottom: 20px;
    left: 5%;
}
#learn img, #choose-words img{
	width: 90px;
}
#learn table, #choose-words table{
	width: 50%;
    margin: 100px auto;
    text-align: center;
}
#words-list input{
	-webkit-transform: scale(3,3);
    position: relative;
    left: 20px;
    top: 3px;
}
#words-list table{
	width: 100%;
}
#nav-words-container{
    white-space: nowrap;
    /*width: 100px;*/
    overflow: overlay;
    position: relative;
	margin:0;
	padding: 0;
	max-width: 410px;
	margin: auto auto;
}
.nav-circle-word td{
	max-width: 33% !important;
}
.nav-circle-word table{
	width: 100%;
}
.count-word{
	text-align: center;
}
.count-word-icon{
    margin-top: 0;
	margin-right:5px;
	display: inline-block;
    border-radius: 50%;
    border: 20px green solid;
    background: green;
    width: 20px;
    text-align: center;
    font-size: 30px;
    color: white;
	vertical-align: top;
}
.active-word-icon{
	border: 20px red solid;
    background: red;
}
h3{
	text-align: center;
	color: white;
	font-size: 45px;
	margin-top: 0;
	margin-bottom: -250px;
	position: relative;
	top: 50px;
}
.count-word img{
	height: 70px;
}
#word-lern-1 table{
	width: 95%;
    margin: auto;
}
#word-lern-1 table td:first-of-type{
	width: 20%;
	text-align: center;
}
#word-lern-1 table td:first-of-type img{
    height: 50px;
}
#word-lern-1 table .text{
	width: 100%;
	font-size: 45px;
    text-align: center;
}
#word-lern-1 .text{
	margin: 5px 0;
}
#word-lern-2, #word-lern-3, #word-lern-4, #word-lern-5{
	text-align: center;
}
#word-lern-2 textarea, #word-lern-3 textarea, #word-lern-4 textarea, #word-lern-5 textarea{
	height: 50px;
	resize: none;
	font-size: 45px;
	font-family: 'Arial';
	padding: 20px 10px;
}
.yes{
	background-color: #8BC34A;
	color: white;
}
.no{
	background-color: #F44336;
	color: white;
}
#sub-categories div{
	width: 90%;
	margin: auto auto;
}
#sub-categories .text{
	display: inline-block;
	width: 90%;
}
#sub-categories img{
	margin-left: 10px;
    height: 30px;
    position: relative;
    top: 5px;
}
.confirm-swipe{
	color: white;
    font-size: 45px;
    text-align: center;
	display: none;
}
.confirm-swipe table{
	width: 100%;
	position: relative;
    padding-bottom: 150px;
    padding-top: 380px;
}
#word-lern-1 table, #word-lern-6 table{
	padding: 0 !important;
}
.good{
	background: rgba(210,255,82,1);
	background: -moz-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 0%, rgba(145,232,66,0.35) 58%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,255,82,1)), color-stop(0%, rgba(145,232,66,1)), color-stop(58%, rgba(145,232,66,0.35)));
	background: -webkit-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 0%, rgba(145,232,66,0.35) 58%);
	background: -o-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 0%, rgba(145,232,66,0.35) 58%);
	background: -ms-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 0%, rgba(145,232,66,0.35) 58%);
	background: linear-gradient(to bottom, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 0%, rgba(145,232,66,0.35) 58%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=0 );
}
.bad{
	background: rgba(255,9,0,0.35);
	background: -moz-linear-gradient(top, rgba(255,9,0,0.35) 42%, rgba(255,9,0,0.91) 92%, rgba(255,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(42%, rgba(255,9,0,0.35)), color-stop(92%, rgba(255,9,0,0.91)), color-stop(100%, rgba(255,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(255,9,0,0.35) 42%, rgba(255,9,0,0.91) 92%, rgba(255,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(255,9,0,0.35) 42%, rgba(255,9,0,0.91) 92%, rgba(255,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,9,0,0.35) 42%, rgba(255,9,0,0.91) 92%, rgba(255,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(255,9,0,0.35) 42%, rgba(255,9,0,0.91) 92%, rgba(255,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0900', endColorstr='#ff0000', GradientType=0 );
}
.hidden{
	display: none;
}
.learnMethod button{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Arial';
  color: #ffffff;
  font-size: 30px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: -40px;
  margin-bottom: -40px;
}
.learnMethod .text{
	min-height: 70px;
}
.btn-container{
	position: relative;
	font-size: 23px;
}
.left-btn{
	position: absolute;
	top: 10px;
	left: 2%;
	z-index: 10;
}
.right-btn{
	position: absolute;
	top: 10px;
	right: 2%;
	z-index: 10;
}
.no-margin{
	margin: 0;
}
#words-nav{
	height: 20%
}
#learn-panel{
	position: relative;
	height: 60%;
	display:table;
	width:100%;
}
.learnMethod{
	display:table-cell;
	vertical-align:middle;
	position: relative;
	top: -50px;
}
#ok-no-panel{
	height: 20%;
}