/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@font-face {
    font-family: 'Ubuntu'; 
    src: url(Ubuntu-B.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Ubuntu'; 
    src: url(Ubuntu-R.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Ubuntu'; 
    src: url(Ubuntu-L.ttf);
    font-weight: light;
}
@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
@-ms-keyframes spin { 
	from { 
		-ms-transform: rotate(0deg); 
	} to { 
		-ms-transform: rotate(360deg); 
	}
}
@-moz-keyframes spin { 
	from { 
		-moz-transform: rotate(0deg); 
	} to { 
		-moz-transform: rotate(360deg); 
	}
}
@-webkit-keyframes spin { 
	from { 
		-webkit-transform: rotate(0deg); 
	} to { 
		-webkit-transform: rotate(360deg); 
	}
}
@keyframes spin { 
	from { 
		transform: rotate(0deg); 
	} to { 
		transform: rotate(360deg); 
	}
}
.pulse-btn{
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	-webkit-animation-name: pulse;
    animation-name: pulse;
    animation-iteration-count: infinite; 
	-webkit-animation-iteration-count: infinite; 
}
html{
	height: 100%;
}
body{ 
	font-family: 'Ubuntu' !important;
	font-weight: normal !important;
	height: 100%; 
	width: 100%;
	margin: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}
.background {
    z-index: -1;
    position: fixed;
    top: 0px;
    left: 0;
	width: 100%;
	height: 100%;
}
.nav-circle, .nav-circle-word{
	text-align: center;
	color: white;
	position: relative;
}
.nav-circle p, .nav-circle-word p, #nav-words-container-thd p{
	display: inline-block;
    margin-top: 0px;
    height: 80px;
    width: 65px;
    padding: 15px 0;
    background-repeat: no-repeat;
	cursor: pointer;    
	background-size: contain;
    margin-left: 1px;
    margin-bottom: 0;
    font-size: 30px;
	position: relative;
}
.nav-circle p span, .nav-circle-word  p span, #nav-words-container-thd p span{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
    width: 100%;
    line-height: 90px;
}
.nav-circle p img, .nav-circle-word  p img, #nav-words-container-thd p img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	box-shadow: 0px 38px 25px -30px rgba(0, 0, 0, 0.2);
}
.nav-circle p .activ-img, .nav-circle-word  p .activ-img, #nav-words-container-thd p .activ-img{
	display: none;
}
.nav-circle .activ .activ-img, .nav-circle-word  .activ .activ-img, #nav-words-container-thd .activ .activ-img{
	display: inline;
}
.nav-circle-word  .pulse .activ-img, #nav-words-container-thd .pulse .activ-img{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	-webkit-animation-name: pulse;
    animation-name: pulse;
    animation-iteration-count: infinite; 
	-webkit-animation-iteration-count: infinite; 
}
.nav-circle .activ, .nav-circle-word .activ, #nav-words-container-thd .activ{
	width: 80px;
    padding: 20px 0;
	margin-left: -15px;
	margin-right: -15px;
	z-index: 10;
    position: relative;
    top: 5px;
}
.text{
	width: 90%;
	margin: 15px auto;
	border-radius: 25px;
	text-align: center;
	padding: 10px 0;
	font-size: 20px;
	cursor: pointer;
	position: relative;  
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.82) 2%, rgba(255,255,255,0) 40%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.82) 2%,rgba(255,255,255,0) 40%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.82) 2%,rgba(255,255,255,0) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    color: white !important;
	border-bottom: 1px solid white;
}
.text:hover{
	border: 1px solid white;
}
.text-reverse{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+98,ffffff+100&0+89,1+100 */
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 60%, rgba(255,255,255,0.82) 98%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 60%,rgba(255,255,255,0.82) 98%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 60%,rgba(255,255,255,0.82) 98%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border-top: 1px solid white;
	font-size: 30px !important;
}
.startLearn{
	position: fixed;
    bottom: -20px;
    width: 100%;
	padding: 25px 0;
	color: black !important;
	font-weight: bold;
	background: rgba(210,255,82,1);
	background: -moz-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
	background: -webkit-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: -o-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: -ms-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: linear-gradient(to bottom, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=0 );
}

.startLearn:hover{
	background: rgba(145,232,66,1);
	background: -moz-linear-gradient(top, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(145,232,66,1)), color-stop(100%, rgba(210,255,82,1)));
	background: -webkit-linear-gradient(top, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
	background: -o-linear-gradient(top, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
	background: -ms-linear-gradient(top, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
	background: linear-gradient(to bottom, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91e842', endColorstr='#d2ff52', GradientType=0 );
}
.confirm-swipe .text{
	padding: 30px 0;
	margin: -2px auto;
}
#langs div h1, #choose-cat div h1, #list-of-word h2{
	color: black;
	padding: 30px 0;
}
#choose-cat, #list-of-word{
	display: none;
}
#list-of-word h2{
	margin-top: 50px;
}
#list-of-word{
	padding-bottom: 100px;
}
.word table{
	width: 100%;
}
.word table img{
	height: 50px;
}
.word table td:first-of-type{
	width: 85%;
}
.word table .text{
	margin: 0;
}
.word table {
	margin-top: 30px;
}
.word .nocheck .text{
	background: red;
	color: white;
}
.back{
	height: 45px;
    position: absolute;
    top: 20px;
    left: 20px;
	display: none;
	z-index: 5;
}
#info-box{
	text-align: center;
	font-size: 20px;
	color: white;
	padding-top: 50px;
	display: none;
}
.list-of-lang, .list-of-subcat{    
	width: 70%;
    margin-left: 25%;
	display: none;
}
h1{
	text-align: center;
	color: white;
	font-size: 25px;
	margin-top: 0px;
	padding-top: 25px;
}
h2{
	width: 80%;
	margin: 40px 0;
	background-color: rgba(255, 255, 255, 0.59);
	text-align: center;
	padding: 20px 0;
	font-size: 20px;
	cursor: pointer;
}
section{
	vertical-align: middle;
}
#choose-your-l{
	display: block;
}
#sub-categories input{
	-webkit-transform: scale(3,3);
    float: left;
    position: relative;
    left: 20px;
    top: 3px;
}
.info-box{
	text-align: center;
	color: white;
	margin-top: 13px;
	font-size: 20px;
}
#learn-container{
	display: none;
	height: 100%
}
#wrap-ok-no, #tut-wrap-ok-no, #start-day-wrap-ok-no, #end-day-wrap-ok-no, #new-cat-wrap-ok-no{
	position: relative;
	text-align: center;
}
#learn-container .good-bad{   
    width: 35%;
}
#learn-container .bad-bad{
	height: 30px;
	/*width: 16%;
	position: absolute;
	bottom: 83px;
	right: 9%;*/
}
#learn img, #choose-words img{
	width: 90px;
}
#learn table, #choose-words table{
	width: 50%;
    margin: 100px auto;
    text-align: center;
}
#words-list input{
	-webkit-transform: scale(3,3);
    position: relative;
    left: 20px;
    top: 3px;
}
#words-list table{
	width: 100%;
}
#nav-words-container{
    white-space: nowrap;
    /*width: 100px;*/
    overflow: overlay;
    position: relative;
	margin:0;
	padding: 0;
	max-width: 410px;
	margin: auto auto;
}
.nav-circle-word td{
	max-width: 33% !important;
}
.nav-circle-word table{
	width: 100%;
}
.count-word{
	text-align: center;
}
.count-word-icon{
    margin-top: 0;
	margin-right:5px;
	display: inline-block;
    border-radius: 50%;
    border: 20px green solid;
    background: green;
    width: 20px;
    text-align: center;
    font-size: 20px;
    color: white;
	vertical-align: top;
}
.active-word-icon{
	border: 20px red solid;
    background: red;
}
h3{
	text-align: center;
	color: white;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 0;/*-250px;*/
	position: absolute;
    width: 100%;
	top: 0px;
}
.count-word img{
	height: 70px;
}
#word-lern-1 #word-lern-6 #word-lern-2, #word-lern-3, #word-lern-4, #word-lern-5{
	text-align: center;
}
#word-lern-1 textarea, #word-lern-6 textarea, #word-lern-2 textarea, #word-lern-3 textarea, #word-lern-4 textarea, #word-lern-5 textarea{
	resize: none;
	font-size: 20px;
	font-family: 'Ubuntu';
	height: 38px;
	border: 0;
}
textarea:focus, textarea:hover, textarea:active{
	border: 0 !important;
	box-shadow: unset !important;
	outline: 0px none !important;
}
.yes{
	background-color: #8BC34A;
	color: white;
}
.no{
	background-color: #F44336;
	color: white;
}
#sub-categories div{
	width: 90%;
	margin: auto auto;
}
#sub-categories .text{
	display: inline-block;
	width: 90%;
}
#sub-categories img{
	margin-left: 5px;
    height: 20px;
    position: relative;
    top: 5px;
}
.confirm-swipe{
	color: white;
    font-size: 25px;
    text-align: center;
	display: none;
	
	transition: 0.8s;
	transform-origin: 100% 40%; /* half of height */
	-webkit-transition: 0.8s;
	-webkit-transform-origin: 100% 40%; /* half of height */
}
.tut-method{
	position: relative;
	transition: 0.8s;
	transform-origin: 100% 40%; /* half of height */
	-webkit-transition: 0.8s;
	-webkit-transform-origin: 100% 40%; /* half of height */
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	transition: all 0.8s ease;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
   left: 0;
}
.confirm-swipe table{
	width: 90%;
	margin-left: 5%;
	position: relative;
	transition: 0.8s;
	transform-origin: 100% 40%; /* half of height */
	-webkit-transition: 0.8s;
	-webkit-transform-origin: 100% 40%; /* half of height */
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	transition: all 0.8s ease;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
   /* padding-bottom: 60%;/*150px;*/
  /* padding-top: 5%;/*380px;*/
   /* margin-top: 10%;*/
   left: 0;
 
    background: rgba(47, 72, 87, 0.5);
	  /*box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2), 0 24px 80px 0 rgba(0, 0, 0, 0.19);*/
	
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.82) 2%, rgba(255,255,255,0) 15%);
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.82) 2%,rgba(255,255,255,0) 15%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.82) 2%,rgba(255,255,255,0) 15%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
color: white !important;
border-bottom: 1px solid white;
border-radius: 25px;
}
#word-lern-6{
	position: relative;
}
#word-lern-1 table, #word-lern-6 table{
/*	padding-top: 10%;
    padding-bottom: 25%;*/
}
#word-lern-6 .no-margin:first-of-type{
	position: absolute;
	top: 0;
	width: 100%;
}
#word-lern-6 .no-margin:last-of-type{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.good{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,2edd1a+40&0.38+0,0.98+95,0+96 */
	background: -moz-linear-gradient(left,  rgba(180,221,180,0.38) 0%, rgba(46,221,26,0.63) 40%, rgba(46,221,26,0.98) 95%, rgba(46,221,26,0) 96%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(180,221,180,0.38) 0%,rgba(46,221,26,0.63) 40%,rgba(46,221,26,0.98) 95%,rgba(46,221,26,0) 96%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(180,221,180,0.38) 0%,rgba(46,221,26,0.63) 40%,rgba(46,221,26,0.98) 95%,rgba(46,221,26,0) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b4ddb4', endColorstr='#002edd1a',GradientType=1 ); /* IE6-9 */
}
.good-right{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2edd1a+60,b4ddb4+100&0+4,0.98+5,0.38+100 */
	background: -moz-linear-gradient(left,  rgba(46,221,26,0) 4%, rgba(46,221,26,0.98) 5%, rgba(46,221,26,0.63) 60%, rgba(180,221,180,0.38) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(46,221,26,0) 4%,rgba(46,221,26,0.98) 5%,rgba(46,221,26,0.63) 60%,rgba(180,221,180,0.38) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(46,221,26,0) 4%,rgba(46,221,26,0.98) 5%,rgba(46,221,26,0.63) 60%,rgba(180,221,180,0.38) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002edd1a', endColorstr='#61b4ddb4',GradientType=1 ); /* IE6-9 */
}
.bad{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,f21d1d+40&0.38+0,0.98+95,0+96 */
	background: -moz-linear-gradient(left,  rgba(180,221,180,0.38) 0%, rgba(242,29,29,0.63) 40%, rgba(242,29,29,0.98) 95%, rgba(242,29,29,0) 96%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(180,221,180,0.38) 0%,rgba(242,29,29,0.63) 40%,rgba(242,29,29,0.98) 95%,rgba(242,29,29,0) 96%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(180,221,180,0.38) 0%,rgba(242,29,29,0.63) 40%,rgba(242,29,29,0.98) 95%,rgba(242,29,29,0) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b4ddb4', endColorstr='#00f21d1d',GradientType=1 ); /* IE6-9 */
}
.bad-right{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f21d1d+60,b4ddb4+100&0+4,0.98+5,0.38+100 */
	background: -moz-linear-gradient(left,  rgba(242,29,29,0) 4%, rgba(242,29,29,0.98) 5%, rgba(242,29,29,0.63) 60%, rgba(180,221,180,0.38) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(242,29,29,0) 4%,rgba(242,29,29,0.98) 5%,rgba(242,29,29,0.63) 60%,rgba(180,221,180,0.38) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(242,29,29,0) 4%,rgba(242,29,29,0.98) 5%,rgba(242,29,29,0.63) 60%,rgba(180,221,180,0.38) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f21d1d', endColorstr='#61b4ddb4',GradientType=1 ); /* IE6-9 */
}
.hidden{
	display: none;
}
.learnMethod button{
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	color: #1366b2;
	font-size: 12px;
	background: #FFF;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	margin-top: -26px;
	margin-bottom: -40px;
	font-weight: 600;
}
.learnMethod .text{
	min-height: 30px;
	background: 0;
	border: 0;
	font-size: 30px !important;
}
.btn-container{
	position: relative;
	font-size: 12px;
	font-weight: bold;
}
.left-btn{
	position: absolute;
	top: 10px;
	left: 2%;
	z-index: 10;
}
.right-btn{
	position: absolute;
	top: 10px;
	right: 2%;
	z-index: 10;
}
.no-margin{
	margin: 0;
}
#words-nav{
	height: 20%;
}
#nav-words-container-thd{
	position: absolute;
	top: 10px;
	left: 20px;
	z-index: 0;
}
#nav-words-container-thd p{
	display: block;
}
#nav-words-container-thd p{
    height: 40px;
    width: 40px;
    padding: 0;
    margin-left: 0;
	margin: 5px auto;
}
#nav-words-container-thd p span{
    line-height: 45px;
}
#nav-words-container-thd .activ{
	width: 60px;
    padding: 0 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 40px;
}
#nav-words-container-thd #nav-th-1, #nav-words-container-thd  #nav-th-2, #nav-words-container-thd  #nav-th-3{
	display: none;
}
#learn-panel{
	position: relative;
	height: 60%;
	display:table;
	width:100%;
}
.learnMethod{
	display:table-cell;
	vertical-align:middle;
	position: relative;
	top: 0%;/*-50px;*/
}
#ok-no-panel, #tut-ok-no-panel, #start-day-ok-no-panel, #end-day-ok-no-panel, #new-cat-ok-no-panel{
	height: 20%;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-bottom: 40px;    
}
#nrDay{
	font-size: 50px;
	position: absolute;
	top: 5px;
	right: 5px;
}
#badBTN{
	display: none;
}
.list-of-subcat{ /*DO USUNIĘCIA!!!!*/
	display: block;
}	
.flipper-hide table{
	transform: rotateX(90deg);
	-webkit-transform: rotateX(90deg);
}
.flipper-show table{
	transform: rotateX(-90deg);
	-webkit-transform: rotateX(-90deg);	
}
.goLeft{
	left: -400px !important;
}
.goRight{
	left: 400px !important;
}
#start-next-cat{
	display: none;
	position: relative;
	transition: 1s;
	transform-origin: 100% 40%; /* half of height */
	-webkit-transition: 1s;
	-webkit-transform-origin: 100% 40%; /* half of height */
	-webkit-transition: left 1s ease;
	-moz-transition: left 1s ease;
	-o-transition: left 1s ease;
	-ms-transition: left 1s ease;
	transition: left 1s ease;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	left: 0;
}
.next-cat-left{
	left: 400px !important;
}
.next-cat-right{
	left: -400px !important;
}
#main-text-next-cat{
	text-align: right;
	color: white;
	font-size: 30px;
	margin: 50px;
}
#name-next-cat{
	text-align: center;
	color: white;
	font-size: 30px;
	margin-top: 18%;
}
.before-start-info{
	text-align: center;
	color: white;
	width: 80%;
	margin: 21% auto 16%;
	font-size: 18px;
}
#btn-next-cat{
	text-align: center;
}
#progress-circe{
	text-align: center;
}
.c100{
	float: none;
	margin: 20px auto;
	background-color: #3f8cb7;
	border: 4px solid #3f8cb7;
}
.bar{
	border: 0.08em solid #6dd0f7 !important;
}
.c100::after{
	top: 0.04em;
    left: 0.04em;
    width: 0.92em;
    height: 0.92em;
	background: url("../img/ok.png");
	background-size: cover;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-o-transition: 0s;
	-ms-transition: 0s;
}
.hoverBTN::after{
	background: url("../img/okH.png") !important;
	background-size: cover !important;
}
.c100 > span {
    width: 3.33em;
    line-height: 3.33em;
    font-size: 0.3em;
    color: #000;
	font-weight: bold;
}
.loading-waiting{
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
	-webkit-animation-name: spin;
    animation-name: spin;
    animation-iteration-count: infinite; 
	-webkit-animation-iteration-count: infinite; 
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
#first-use-loading-page{
	text-align: center;
	font-size: 30px;
	color: white;
}
#first-use-loading-page p:first-of-type{
	margin: 0px 0px;
	padding: 100px 0px;
}
section{
	display: none;
}
.tut-method{
	display: none;
}
.tut-method:first-of-type{
	display: block;
}
.tut-method h3{
	position: relative;
	padding-top: 80px;
	width: 90%;
	margin: auto;
}
.tut-method h5{
	font-weight: normal;
	font-size: 15px;
	margin-top: 15px;
}
.learnedCat{
	border: 3px solid green !important;
}
.inProgressCat{
	border: 3px solid yellow !important;
}
.missingCat{
	border: 3px solid red !important;
}
#cont-l-w-i-s-c{
	text-align: center;
	margin-bottom: 30px;
}
#cont-l-w-i-s-c h4{
	margin-bottom: 5px;
}
.note-skip-btn{
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: white;
	width: 100%;
	z-index: 0;
}
.note-skip-btn div{
	width: 50%;
	height: 87px;
	float: left;
	font-size: 24px;
}
.note-skip-btn  .note-btn-hover{
	background: transparent url("../img/note-btn-h.png") repeat scroll 0% 0% / cover !important;
	position: relativ;
}
.note-skip-btn  .note-btn{
	background: transparent url("../img/note-btn.png") repeat scroll 0% 0% / cover;
	position: relativ;
}
.note-skip-btn  .skip-btn-hover{
	background: transparent url("../img/skip-btn-h.png") repeat scroll 0% 0% / cover !important;
}
.note-skip-btn  .skip-btn{
	background: transparent url("../img/skip-btn.png") repeat scroll 0% 0% / cover;
}
.note-skip-btn  .note-btn p{
	padding-left: 7px;
	text-align: left;
	margin-top: 32px;
}
.note-skip-btn  .skip-btn p{
	padding-right: 7px;
	text-align: right;
	margin-top: 32px;
}
#progess-btn-stan-in-cycle{
	z-index: 1;
}
#startDay h1, #start-next-cat h1, #new-category-choice h1{
	font-weight: 400;
    font-size: 34px;
	margin-top: 0;
	padding-top: 34px;
}
.you-start-learned{
    color: white;
    text-align: center;
    margin-top: 23%;
    font-size: 21px;
}
.goToReverse{
	color: white;
	text-align: center;
	margin-top: 45%;
	font-size: 31px;
}
#start-day-wrap-ok-no img, #new-cat-ok-no-panel img, #end-day-ok-no-panel img, #tut-wrap-ok-no img{
	width: 38%;
	margin-top: 22px;
	z-index: 1;
}
#suggest-new-category{
	margin-top: 10%;
}
#cont-l-w-i-s-c{
	color: white;
}
#new-cat-ok-no-panel{
	z-index: 2;
    pointer-events: none;
}
#new-cat-ok-no-panel img{
	z-index: 3;
    pointer-events: all;
}
.remind-img{
	display: none;
	position: absolute;
	top: -50px;
	left: 0px;
	width: 35%;
}
#first-use-loading-page #progress-circle{
	position: absolute;
	bottom: 0;
	width: 100%;
}
#menu{
	position: fixed;
	width: 100%;
	top: -700px;
	transform-origin: 100% 40% 0px;
	-webkit-transition: 0.8s;
	-webkit-transform-origin: 100% 40%;
	-webkit-transition: all 0.8s ease;
	transition: all 0.8s ease 0s;
	transform: translate3d(0px, 0px, 0px);
	background: rgb(63, 140, 183) none repeat scroll 0% 0%;
	z-index: 1001;
}
.showmenu{
	top: 0px !important;
}
#menu li{
	display: block;
	text-align: center;
	color: white;
	font-weight: 400;
	font-size: 20px;
	border: 1px solid #090909;
	width: 90%;
	margin: 10px auto;
	padding: 10px 0;
	box-shadow: 0px 0px 9px 2px #3C3C3C;
}
#menu li:last-of-type{
	font-size: 48px;
	border: 0;
	width: 100%;
	margin: 10px auto;
	padding: 0px 0;
	box-shadow: unset;
	max-height: 52px;
	background: #265067;
	padding-top: 10px;
	margin-top: 24px;
	margin-bottom: 5px;
}
#menu ul{
	padding: 25px 0 0 0;
	margin: 0;
}
#menu-switch{
	position: fixed;
	top: 2px;
	right: 5px;
	width: 13%;
	z-index: 1000;
}
#readP{
	display: none;
}